{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/main.css' %}"
    />
    {%if title%}
    <title>Hack4Earth - {{title}}</title>
    {% else %}
    <title>Hack4Earth</title>
    {%endif%}
  </head>

  <body style="overflow: hidden" class="main_page">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-3" href="/">
            <img
              src="https://hacktheearth.ca/images/HtE%202021%20Circuit%20Earth%20Logo.svg"
              style="display: inline-block; width: 40px"
            /><span style="display: inline-block; font-family: 'Colonna MT'; color:#9fffdc; " 
              >HACK4EARTH</span
            >
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="http://swachhbharatmission.gov.in/SBMCMS/swachhta-pakhwada.htm" target="_blank">SwachhtaPakhwada</a>
              <a class="nav-item nav-link" href="https://swachhbharat.mygov.in/" target="_blank">SwachhBharatAbhiyan</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-post' %}"
                >Posts</a
              >
              <a class="nav-item nav-link" href="{% url 'post-create' %}"
                >Create Post</a
              >
              <a class="nav-item nav-link" href="/admin">Admin</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="main_heading">
        <h1>Share your Ideas and thoughts this Swachhata Season</h1>
    </div>

    <main role="main" class="container-fluid">
      <div id="demo" class="carousel slide" data-ride="carousel">
      
        <div class="absolute-div">
          <div class="carousel-caption">
            <h1>
              <a class="nav-item nav-link first" href="{% url 'post-create' %}"
                >Write Something...</a
              >
            </h1>
            <h1>
              <a class="nav-item nav-link second" href="{% url 'blog-post' %}"
                >See Recent Posts</a
              >
            </h1>
          </div>
        </div>
        
    <div id="dvImage"></div>
        

    </main>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        var images = [ "8.png", "9.png", "10.png", "12.png"];
        $(function () {
            var i = 0;
            $("#dvImage").css("background-image", "url(/media/" + images[i] + ")");
            setInterval(function () {
                i++;
                if (i == images.length) {
                    i = 0;
                }
                $("#dvImage").fadeOut("slow", function () {
                    $(this).css("background-image", "url(/media/" + images[i] + ")");
                    $(this).fadeIn("slow");
                });
            }, 3000);
        });
    </script>



  </body>
</html>
